img {
  width: 100%;
}

.row {
  max-width: 100%;
  margin: 0;
}

.row > .columns {
  padding: 0;
  position: relative;
}

.row > .columns:hover .hover-container {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.row > .columns:hover .hover-container .companyName {
  opacity: 0;
  transition: opacity 0.4s ease;
}

.row > .columns:hover .readMore {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.row > .columns:hover .left,
.row > .columns:hover .right {
  opacity: 1;
  transition: opacity 0.4s ease;
}

.hover-container {
  position: absolute;
  opacity: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  transition: opacity 0.4s ease;
}

.hover-container .companyName {
  opacity: 1;
  position: relative;
  top: 35%;
  height: 86px;
  width: 100%;
  font-family: Chivo;
  font-size: 72px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
}

.left {
  opacity: 0;
  background-image: url('/assets/icons/left.png');
  width: 45px;
  height: 45px;
  background-size: cover;
  position: absolute;
  left: 20px;
  top: 40%;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.right {
  opacity: 0;
  background-image: url('/assets/icons/right.png');
  width: 45px;
  height: 45px;
  background-size: cover;
  position: absolute;
  right: 20px;
  top: 40%;
  transition: opacity 0.4s ease;
  cursor: pointer;
}

.readMore {
  width: 100%;
  position: absolute;
  height: 22px;
  font-family: Chivo;
  font-size: 18px;
  text-align: center;
  color: rgba(0, 0, 0, 0.7);
  bottom: 15px;
  opacity: 0;
  transition: opacity 0.4s ease;
}

.readMore span {
  cursor: pointer;
}

.text-container {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  padding: 15px;
  display: none;
}

.text {
  padding: 15px;
  background: white;
  height: 100%;
}

.text h1 {
  opacity: 0.8;
  font-family: Chivo;
  font-size: 48px;
  font-weight: bold;
  color: #000000;
  width: 153px;
  margin-bottom: 0px;
}

.text h5 {
  opacity: 0.8;
  font-family: Chivo;
  font-size: 30px;
  font-weight: 300;
  color: #000000;
}

.text p {
  opacity: 0.8;
  font-family: Chivo;
  font-size: 30px;
  line-height: 1.33;
  color: #000000;
  margin-top: 25px;
}

.close {
  display: block;
  position: absolute;
  width: 14px;
  height: 14px;
  opacity: 0.7;
  right: 30px;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

.close {
  background-image: url('/assets/icons/close.png');
  width: 24px;
  height: 24px;
  background-size: cover;
  cursor: pointer;
  right: 35px;
  top: 35px;
}
